---
import "@fontsource/wix-madefor-display";
import "./styles.css";

const title = "КодКрафт – Школа программирования";
const description =
  "Курсы по Python, C#, Scratch, web-разработке и гейм-разработке для детей и взрослых.";
const keywords =
  "кодкрафт, школа программирования, курсы программирования, Python, JavaScript, дети, web-разработка, робототехника";
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="canonical" href={canonicalURL} /> -->

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:url" content={canonicalURL} /> -->
    <meta property="og:image" content="https://kodkraft.com/og-image.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://kodkraft.com/og-image.jpg" />

    <script is:inline>
      const initTheme = () => {
        const colorTheme = localStorage.getItem("colorTheme");
        if (!colorTheme) {
          if (
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
          ) {
            document.documentElement.classList.add("dark");
            localStorage.setItem("colorTheme", "dark");
          } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("colorTheme", "light");
          }
        } else {
          if (colorTheme === "dark") {
            document.documentElement.classList.add("dark");
          } else if (colorTheme === "light") {
            document.documentElement.classList.remove("dark");
          } else if (colorTheme === "system") {
            const prefersDark = window.matchMedia(
              "(prefers-color-scheme: dark)"
            ).matches;
            document.documentElement.classList.toggle("dark", prefersDark);
          }
        }
      };

      initTheme();

      document.addEventListener("astro:after-swap", initTheme);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
