---
import SocialTelegramIcon from "@/shared/assets/socials/telegram.svg";
import SocialVKIcon from "@/shared/assets/socials/vk.svg";
import SocialMaxIcon from "@/shared/assets/socials/max.svg";
import {
  contacts,
  formatAddress,
  formatPhone
} from "@/pages-flat/home/config/contacts";
import { Button } from "@/shared/ui/button";
---

<div
  class="mx-auto flex max-w-5xl flex-col gap-12 2xl:grid! 2xl:max-w-none 2xl:grid-cols-2"
>
  <div class="w-full overflow-hidden">
    <iframe
      title="КодКрафт на карте"
      src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=199523154716"
      width="672"
      height="336"
      class="mx-auto w-[stretch] rounded-md"
    >
    </iframe>
  </div>

  <div class="flex flex-col gap-4 lg:gap-8">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:gap-8">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-semibold">Контакты</h3>
        <div class="space-y-0.5">
          <p class="text-muted-foreground">Телефон</p>
          <Button
            href={contacts.phone.getURI()}
            variant="link"
            class="h-fit p-0 text-base whitespace-normal"
          >
            {formatPhone(contacts.phone)}
          </Button>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-semibold">Офис</h3>

        <address class="space-y-4 not-italic">
          <div class="space-y-0.5">
            <p class="text-muted-foreground">Адрес</p>
            <a
              href={contacts.yandexMap}
              class="text-base underline-offset-4 hover:underline"
              target="_blank"
              rel="noopener noreferrer"
            >
              {formatAddress()}
            </a>
          </div>

          <div class="space-y-0.5">
            <p class="text-muted-foreground">Режим работы</p>
            <time datetime="Mo-Su 09:00-21:00">{contacts.openingHours}</time>
          </div>
        </address>
      </div>

      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-semibold">Социальные сети</h3>
        <Button
          href={contacts.vk}
          variant="link"
          class="h-fit w-fit p-0 text-base whitespace-normal has-[>svg]:px-0"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SocialVKIcon class="size-6" aria-hidden="true" />
          Вконтакте
        </Button>
        <Button
          href={contacts.max}
          variant="link"
          class="h-fit w-fit p-0 text-base whitespace-normal has-[>svg]:px-0"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SocialMaxIcon class="size-6" aria-hidden="true" />
          Max (канал)
        </Button>
        <Button
          href={contacts.telegram}
          variant="link"
          class="h-fit w-fit p-0 text-base whitespace-normal has-[>svg]:px-0"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SocialTelegramIcon class="size-6" aria-hidden="true" />
          Телеграм (канал)
        </Button>
      </div>
    </div>

    <div class="flex w-full flex-col gap-4">
      <h3 class="text-2xl font-semibold">Реквизиты ИП</h3>

      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:gap-8">
        <div class="space-y-0.5">
          <dt class="text-muted-foreground">ФИО</dt>
          <dd>{contacts.fio}</dd>
        </div>

        <div class="space-y-0.5">
          <dt class="text-muted-foreground">ИНН</dt>
          <dd>{contacts.inn}</dd>
        </div>

        <div class="space-y-0.5">
          <dt class="text-muted-foreground">ОГРН/ОГРНИП</dt>
          <dd>{contacts.ogrnip}</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
