---
import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrev
} from "@/shared/ui/carousel";
import { Image } from "astro:assets";
import PixelChevronIcon from "@/shared/assets/icons/pixel-chevron.svg";
import { Badge } from "@/shared/ui/badge";
import { Button } from "@/shared/ui/button";
import { DialogTrigger } from "@/shared/ui/dialog";
import { courses } from "../config/courses";
import {
  Card,
  CardContent,
  CardDescription,
  CardTitle
} from "@/shared/ui/card";
---

<Carousel class="w-full">
  <CarouselContent class="mr-4 px-4 sm:mr-px sm:pl-px">
    {
      courses.map((item) => (
        <CarouselItem class="basis-52 py-1 md:basis-64 xl:basis-80">
          <Card size="sm" class="h-full">
            <CardContent class="flex h-full flex-col">
              <div class="relative aspect-square w-full overflow-hidden rounded-lg">
                <Image
                  src={item.imageSrc}
                  alt={item.name}
                  class="size-full object-cover"
                  width={400}
                  height={400}
                />

                <Badge
                  variant="outline"
                  class="absolute top-1.5 left-1.5 rounded-lg bg-background"
                >
                  {item.group}
                </Badge>
              </div>

              <div class="space-y-1 py-2">
                <CardTitle>{item.name}</CardTitle>
                <CardDescription>{item.description}</CardDescription>
              </div>

              <footer class="mt-auto flex items-center justify-between gap-1">
                <div class="text-sm font-semibold">
                  {new Intl.NumberFormat("ru-RU", {
                    style: "currency",
                    currency: "RUB",
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0
                  }).format(item.price)}{" "}
                  / месяц
                </div>

                <DialogTrigger for="callback-dialog" asChild>
                  <Button size="sm" class="h-7 text-xs font-semibold">
                    <span class="hidden lg:inline">Записаться</span>
                    <PixelChevronIcon class="size-3" />
                  </Button>
                </DialogTrigger>
              </footer>
            </CardContent>
          </Card>
        </CarouselItem>
      ))
    }
  </CarouselContent>

  <div class="mt-10 hidden gap-3 sm:flex">
    <CarouselPrev class="static size-10">
      <PixelChevronIcon class="size-4 rotate-180" slot="icon" />
    </CarouselPrev>
    <CarouselNext class="static size-10">
      <PixelChevronIcon class="size-4" slot="icon" />
    </CarouselNext>
  </div>
</Carousel>
