---
import { Button } from "@/shared/ui/button";
import SocialTelegramIcon from "@/shared/assets/socials/telegram.svg";
import SocialVKIcon from "@/shared/assets/socials/vk.svg";
import SocialMaxIcon from "@/shared/assets/socials/max.svg";
import { contacts, formatAddress, formatPhone } from "../config/contacts";
---

<footer
  class="flex flex-col gap-3 px-4 py-4 sm:flex-row sm:items-center sm:justify-between sm:px-6 lg:px-8"
>
  <div class="min-w-0 space-y-1 text-sm">
    <p>© 2018–2026 КодКрафт. Все права защищены</p>
    <address class="not-italic text-muted-foreground">
      {formatAddress()} · {" "}
      <a href={contacts.phone.getURI()} class="underline underline-offset-4">
        {formatPhone(contacts.phone)}
      </a>
    </address>
    <Button
      href="/policy"
      variant="link"
      class="h-fit p-0 text-sm text-muted-foreground"
    >
      Политика конфиденциальности
    </Button>
  </div>

  <div class="flex items-center gap-1">
    {
      contacts.vk && (
        <Button
          href={contacts.vk}
          size="icon"
          variant="ghost"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SocialVKIcon class="size-6" />
          <span class="sr-only">Сообщество Вконтакте</span>
        </Button>
      )
    }

    {
      contacts.max && (
        <Button
          href={contacts.max}
          size="icon"
          variant="ghost"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SocialMaxIcon class="size-6" />
          <span class="sr-only">Max (канал)</span>
        </Button>
      )
    }

    {
      contacts.telegram && (
        <Button
          href={contacts.telegram}
          size="icon"
          variant="ghost"
          target="_blank"
          rel="noopener noreferrer"
        >
          <SocialTelegramIcon class="size-6" />
          <span class="sr-only">Телеграм канал</span>
        </Button>
      )
    }
  </div>
</footer>
