---
import {
  Card,
  CardTitle,
  CardDescription,
  CardHeader,
  CardContent
} from "@/shared/ui/card";
import { Marquee } from "@/shared/ui/marquee";
import { reviews } from "../config/reviews";
import { Rating } from "@/shared/ui/rating";
---

<Marquee pauseOnFocus fade speed={30}>
  {
    reviews.map((item) => (
      <div class="h-full px-2 py-0.5">
        <Card
          class="h-full max-w-sm min-w-96 gap-2 border-none dark:bg-input/30"
          size="sm"
        >
          <CardHeader class="w-full overflow-hidden">
            <div class="flex w-full items-center gap-2 overflow-hidden">
              <div class="flex min-w-0 flex-1 items-center gap-2">
                <div class="select-none flex size-9 shrink-0 items-center justify-center overflow-hidden rounded-full bg-primary text-white  ">
                  {item.name.at(0)}
                </div>
                <div class="flex flex-col overflow-hidden">
                  <CardTitle class="truncate">{item.name}</CardTitle>
                  <CardDescription>{item.date}</CardDescription>
                </div>
              </div>
              <Rating value={item.rating} />
            </div>
          </CardHeader>
          <CardContent class="px-6 text-sm line-clamp-4">{item.description}</CardContent>
        </Card>
      </div>
    ))
  }
</Marquee>
